@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-weight: bold;
  letter-spacing: 0.03em;
  margin: 0;
}

.container,
.mobileContainer {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 450px) {
  .container,
  .mobileContainer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .mobileContainer {
    width: 768px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .mobileContainer {
    width: 1200px;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  header .container {
    display: none;
  }
}

.mobileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobileContainer {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logoBlack {
  color: #000000;
}

.logoWhite {
  color: #ffffff;
}

.mobileButton {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background: #fff;
  fill: #000;
}

.backdropMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.backdropMenu.is-hidden {
  display: none;
  pointer-events: none;
}

.modalMenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}

.modalMenu .mobileButton {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15px;
}

.formMenu {
  width: 480px;
  padding: 48px 40px;
}

.mobileNavigation .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobileNavigation li {
  margin-bottom: 32px;
}

.mobileNavigation li:last-child {
  margin-bottom: 306px;
}

.mobileNavigation .current {
  color: #2196f3;
}

.mobileContacts li {
  margin-bottom: 32px;
}

.mobileContacts li:last-child {
  margin-bottom: 64px;
}

.mobileContacts .phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobileContacts .mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.socialNetwork {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  margin-left: -10px;
}

.socialNetwork li {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.socialNetwork li:last-child {
  border-right: 0;
}

.socialNetwork a {
  color: #2196f3;
}

.menu {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 82px;
}

@media screen and (min-width: 1200px) {
  .menu .navigation {
    margin-right: 305px;
  }
}

.navigation li {
  position: relative;
}

.navigation li:not(:last-child) {
  margin-right: 50px;
}

.navigation a {
  color: #212121;
  font-size: 14px;
  line-height: 1.142;
}

.navigation .link {
  font-weight: 500;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover, .navigation .link:focus {
  color: #2196f3;
}

.navigation .link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  bottom: -1px;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .current {
  color: #2196f3;
}

.navigation .current::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  opacity: 1;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

.link:hover::after,
.link:focus::after,
.link:active::after {
  opacity: 1;
}

.marginContacts {
  padding: 21px 0;
}

.marginContacts li:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .marginContacts li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.marginContacts a {
  color: #757575;
  fill: #757575;
  font-size: 12px;
  line-height: 1.166;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .marginContacts a {
    font-size: 14px;
    line-height: 1.142;
  }
}

.marginContacts .iconHeader {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .marginContacts .iconHeader {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .marginContacts {
    display: flex;
    padding: 32px 0;
  }
}

.hero {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: #2f303a;
  border: 0px;
}

@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 0;
    min-width: 480px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 1200px;
    height: 600px;
  }
}

@media screen and (min-width: 480px) {
  .hero .container {
    width: 360px;
    padding: 0;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    width: 696px;
  }
}

.mainHero {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .mainHero {
    font-size: 26px;
    line-height: 1.615;
  }
}

@media screen and (min-width: 1200px) {
  .mainHero {
    font-size: 44px;
    line-height: 1.363;
  }
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 450px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.buttonModal {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  margin-top: 8px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* МОДАЛЬНОЕ ОКНО */
.form {
  padding: 40px;
}

.form h1 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form .submit {
  margin-top: 30px;
  min-width: 200px;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.formBar {
  position: relative;
  margin-top: 30px;
  display: block;
}

.formBar .formInput {
  padding: 11px;
  padding-left: 35px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border, outline;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formBar .formInput:focus {
  border: 1px solid #2196f3;
  outline: 0;
}

.formBar .svgModal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.formBar .formText {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition-property: transform, left;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formInput:focus + .svgModal {
  fill: #2196f3;
}

.formInput:focus ~ .formText,
.formInput:not(:placeholder-shown) ~ .formText {
  transform: translateY(-40px);
  left: 0;
}

.formBarTextarea {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 30px;
}

.formBarTextarea .formTextarea {
  margin: 0;
  padding: 11px;
  padding-left: 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border, outline;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formBarTextarea .formTextarea:focus {
  border: 1px solid #2196f3;
  outline: 0;
}

.formBarTextarea .textTextarea {
  position: absolute;
  left: 16px;
  top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition-property: transform, left;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formTextarea:focus + .textTextarea,
.formTextarea:not(:placeholder-shown) + .textTextarea {
  transform: translateY(-35px);
  left: 0;
}

.formCheckbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.formCheckbox .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.formCheckbox .iconCheck {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition-property: outline, border-radius;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formCheckbox .textCheckbox {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #757575;
  transition-property: cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .formCheckbox .textCheckbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.formCheckbox .textCheckbox a {
  text-decoration-line: underline;
  color: #2196f3;
}

.checkbox:checked + .iconCheck {
  background-color: #2196f3;
  background-image: url(../img/check-ok.svg);
  background-size: contain;
  background-origin: border-box;
  border: 0;
}

.checkbox:hover ~ .textCheckbox {
  cursor: pointer;
}

.checkbox:focus ~ .iconCheck {
  border-radius: 2px;
  border: 2px solid #2196f3;
}

/* /МОДАЛЬНОЕ ОКНО */
@media screen and (min-width: 480px) {
  .dignity {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .dignity {
    margin-top: 94;
  }
}

.container .advantageTitle {
  margin: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .dignity ul {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .dignityList {
    width: 100%;
  }
  .dignityList:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .dignityList {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .dignityList {
    width: 270px;
    margin-bottom: 0px;
  }
}

.dignityList .iconDignity {
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dignityList .advantage {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .dignityList .advantage {
    text-align: center;
  }
}

.dignityList .advantageParagraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.works {
  margin-top: 94px;
  margin-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works .secondHeader {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
}

.works .container {
  display: block;
}

.container .worksList {
  display: flex;
  margin: -15px;
}

.worksElement {
  position: relative;
  margin: 15px;
}

.worksElement .worksParagraph {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  bottom: 0;
}

.teams {
  background: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .teams {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.teams .secondHeader {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.178;
}

@media screen and (min-width: 1200px) {
  .teams .secondHeader {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.teams .container {
  display: block;
}

@media screen and (min-width: 768px) {
  .container .teamsList {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.worker {
  width: 100%;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .worker {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .worker {
    width: 270px;
    margin: 15px;
  }
}

.person {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 24px;
}

.person .ourTeam {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}

.person .profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  margin-bottom: 16px;
}

.person .iconTeam {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconTeam li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 44px;
}

.iconTeam .colorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-property: fill, background, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.iconTeam .colorIcon:hover, .iconTeam .colorIcon:focus {
  fill: #ffffff;
  border-radius: 50%;
  background: var(--color-tartet);
}

.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients .secondHeader {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.178;
}

@media screen and (min-width: 768px) {
  .clients .secondHeader {
    font-size: 28px;
    line-height: 1.178;
  }
}

@media screen and (min-width: 1200px) {
  .clients .secondHeader {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.clients .container {
  display: block;
}

.clientsList {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clientsList .iconClients {
  width: 210px;
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clientsList .iconClients {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clientsList .iconClients {
    width: 170px;
  }
}

.clientsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition-property: fill, border;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.clientsItem:focus, .clientsItem:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footerBg {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footerBg .containerFooter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footerBg .containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footerBg .containerFooter {
    display: flex;
    text-align: start;
  }
}

.footerInfo .logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footerInfo .logo {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footerInfo .logo {
    margin: 0;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
}

.footerInfo .address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 8px;
}

.marginMailto {
  margin-bottom: 8px;
}

.marginMailto .contactsFooter {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.marginMailto .contactsFooter:hover, .marginMailto .contactsFooter:focus {
  color: var(--color-tartet);
}

.footerIcon {
  margin: 60px 0;
}

@media screen and (min-width: 768px) {
  .footerIcon {
    margin: 0;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footerIcon {
    margin: 0;
    margin-left: 70px;
  }
}

.footerIcon .connect {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.footerIcon .iconTeam {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementIcon {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.elementIcon:not(:last-child) {
  margin-right: 10px;
}

.elementIcon .colorIconFt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  transition-property: fill, background, border-radius;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.elementIcon .colorIconFt:hover, .elementIcon .colorIconFt:focus {
  fill: #ffffff;
  border-radius: 50%;
  background: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing {
    width: 450px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: 93px;
  }
}

.mailing .connect {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.footerForm {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footerForm {
    flex-direction: row;
  }
}

.footerForm .footerInput {
  margin-bottom: 20px;
  background-color: #2f303a;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border, outline;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.footerForm .footerInput:focus {
  border: 1px solid #2196f3;
  outline: 0;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footerForm .footerInput {
    min-width: 358px;
  }
}

.footerForm .footerFormButton {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footerForm .footerFormButton {
    margin: 0;
    margin-left: 12px;
  }
}

.footerForm .footerFormButton svg {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */