html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-weight: bold;
  letter-spacing: 0.03em;
  margin: 0;
}

.container,
.mobileContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container,
  .mobileContainer {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .mobileContainer {
    max-width: 768px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .mobileContainer {
    max-width: 1200px;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  header .container {
    display: none;
  }
}

.mobileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobileContainer {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 26px 0;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logoBlack {
  color: #000000;
}

.logo-color-white {
  color: #ffffff;
}

.mobileButton {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background: #fff;
  fill: #000;
}

.backdropMenu {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.backdropMenu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modalMenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}

.modalMenu .mobileButton {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15px;
}

.formMenu {
  width: 480px;
  padding: 48px 40px;
}

.mobileNavigation .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobileNavigation li {
  margin-bottom: 32px;
}

.mobileNavigation li:last-child {
  margin-bottom: 306px;
}

.mobileNavigation .current {
  color: #2196f3;
}

.mobileContacts li {
  margin-bottom: 32px;
}

.mobileContacts li:last-child {
  margin-bottom: 64px;
}

.mobileContacts .phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobileContacts .mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.socialNetwork {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  margin-left: -10px;
}

.socialNetwork li {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.socialNetwork li:last-child {
  border-right: 0;
}

.socialNetwork a {
  color: #2196f3;
}

.menu {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 82px;
}

@media screen and (min-width: 1200px) {
  .menu .navigation {
    margin-right: 305px;
  }
}

.navigation li:not(:last-child) {
  margin-right: 50px;
}

.navigation a {
  color: #212121;
  font-size: 14px;
  line-height: 1.142;
}

.marginContacts {
  padding: 21px 0;
}

.marginContacts li:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .marginContacts li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.marginContacts a {
  color: #757575;
  fill: #757575;
  font-size: 12px;
  line-height: 1.166;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .marginContacts a {
    font-size: 14px;
    line-height: 1.142;
  }
}

.marginContacts .iconHeader {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .marginContacts .iconHeader {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .marginContacts {
    display: flex;
    padding: 32px 0;
  }
}
/*# sourceMappingURL=main.css.map */