.logo {
	display: block;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: $mainLogoColor;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 84px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: 93px;
	}
}
.logoBlack {
	color: $logoColorBlack;
}
.logoWhite {
	color: $logoColorWhite;
}
