.menu {
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.02em;

	.navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 82px;

		@media screen and (min-width: 1200px) {
			margin-right: 305px;
		}
	}
}
.navigation {
	& li {
		position: relative;
	}
	& li:not(:last-child) {
		margin-right: 50px;
	}
	& a {
		color: $mainTextColor;
		font-size: 14px;
		line-height: 1.142;
	}
	.link {
		font-weight: 500;
		color: $mainTextColor;
		padding-top: 32px;
		padding-bottom: 32px;
		display: block;

		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			color: $colorTartet;
		}
		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			opacity: 0;
			height: 4px;
			width: 100%;
			border-radius: 2px;
			background-color: $colorTartet;
			display: block;
			bottom: -1px;

			transition-property: opacity;
			transition-duration: 500ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
	.current {
		color: $colorTartet;

		&::before {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			opacity: 1;
			display: block;
			height: 4px;
			width: 100%;
			background-color: $focusFormColor;
			border-radius: 2px;
			bottom: -1px;
		}
	}
}

.link:hover::after,
.link:focus::after,
.link:active::after {
	opacity: 1;
}

.marginContacts {
	padding: 21px 0;

	@media screen and (min-width: 1200px) {
		display: flex;
		padding: 32px 0;
	}

	& li:not(:last-child) {
		margin-bottom: 10px;

		@media screen and (min-width: 1200px) {
			margin-bottom: 0;
			margin-right: 30px;
		}
	}

	& a {
		color: $colorIconContacts;
		fill: $colorIconContacts;
		font-size: 12px;
		line-height: 1.166;

		transition-property: color, fill;
		transition-duration: 250ms, 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
			cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $colorTartet;
			fill: $colorTartet;
		}

		display: flex;
		align-items: center;

		@media screen and (min-width: 1200px) {
			font-size: 14px;
			line-height: 1.142;
		}
	}

	& .iconHeader {
		margin-right: 8px;

		@media screen and (min-width: 1200px) {
			margin-right: 10px;
		}
	}
}
