$mainFontFamil: "Roboto", sans-serif;
$mainTextColor: #212121;
$colorTextParagraph: #757575;
$textButtonHover: #ffffff;
$mainFormcolorText: #757575;
$focusFormColor: #2196f3;
$colorTartet: #2196f3;
$bgFooter: #2f303a;
$bgButton: #2196f3;
$bgModal: #ffffff;
$colorBgTeamIcon: #f5f4fa;
$colorAddress: #ffffff;
$colorIcon: #afb1b8;
$colorIconContacts: #757575;
$colorTextH2: #ffffff;
$mainLogoColor: #2196f3;
$logoColorBlack: #000000;
$logoColorWhite: #ffffff;
$offLogoColor: #ffffff;
